In [ ]:
# accessing google drive
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/Market_Basket_Optimisation.csv')
dataset
len(dataset)

7501

In [ ]:
#removing NaN values
for k in range(1,21):
  dataset[str(k)].fillna('', inplace = True)
dataset

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
2,chutney,,,,,,,,,,,,,,,,,,,
3,turkey,avocado,,,,,,,,,,,,,,,,,,
4,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,,,,,,,,,,,,,,,,,
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,,,,,,,,,,,,,,
7498,chicken,,,,,,,,,,,,,,,,,,,
7499,escalope,green tea,,,,,,,,,,,,,,,,,,
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,,,,,,,,,,,,,,,,

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
#getting names of all the items from the dataset
column_names = []

for i in range(len(dataset)):#rows
  for k in range(1,20):#columns
    flag = 0
    for j in range(len(column_names)):
      if dataset[str(k)][i] == column_names[j]:
        flag = 1
        break
    if flag == 0:
      column_names.append(dataset[str(k)][i])

In [ ]:
print(column_names)
print(len(column_names))

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'burgers', 'meatballs', 'eggs', '', 'chutney', 'turkey', 'milk', 'energy bar', 'whole wheat rice', 'whole wheat pasta', 'french fries', 'soup', 'light cream', 'shallot', 'frozen vegetables', 'spaghetti', 'pet food', 'cookies', 'cooking oil', 'champagne', 'chocolate', 'chicken', 'oil', 'fresh tuna', 'tomatoes', 'black tea', 'extra dark chocolate', 'protein bar', 'red wine', 'pasta', 'pepper', 'shampoo', 'rice', 'sparkling water', 'ham', 'body spray', 'pancakes', 'grated cheese', 'white wine', 'toothpaste', 'parmesan cheese', 'fresh bread', 'ground beef', 'escalope', 'herb & pepper', 'tomato sauce', 'magazines', 'strawberries', 'strong cheese', 'pickles', 'cake', 'hot dogs', 'brownies', 'cereals', 'clothes accessories', 'bug spray', 'muffins', 'light mayo', 'olive oil', 'gums', 'soda', 'cider', 'corn', 'yogurt cake', 'mint', 'butter', 'asparagus', 'french wine', 'salt', 'tea', 'barbecue sauce', 'mayonnaise', 'zucchini', 'carrots', 'mushroom cream sauce', 'candy bars', 'chili', 'mashed potato', 'nonfat milk', 'water spray', 'chocolate bread', 'mint green tea', 'eggplant', 'blueberries', 'bacon', 'fromage blanc', 'gluten free bar', 'dessert wine', 'flax seed', 'hand protein bar', 'sandwich', 'babies food', 'melons', 'cauliflower', 'green beans', 'ketchup', 'bramble', 'burger sauce', 'oatmeal', 'cream', 'napkins']
120

In [ ]:
dataset1 = pd.read_csv('/content/Test_Demo.csv')
dataset1
len(dataset1)

7500

In [ ]:
#keeping zero as default value for each item
for i in range(len(column_names)):
  dataset1[column_names[i]]=0
dataset1
len(dataset1)

In [ ]:
#modifying new dataset as per the values in old database
for i in range(len(dataset)):
  for k in range(1,21):
    if dataset[str(k)][i]!= '' and column_names.index(dataset[str(k)][i])>=0:
      dataset1[dataset[str(k)][i]][i] = 1

In [ ]:
del(column_names[22]) # because its blank

In [ ]:
#enable view for 7500 rows
pd.set_option('display.max_rows', 7500)
dataset1

In [ ]:
#getting total count of each element in the order of column name in new dataset
# step one of PCY algorithm ... count of each candidate set
count_data = []
for i in range(len(column_names)):
  print(dataset1[column_names[i]].sum())
  count_data.append(dataset1[column_names[i]].sum())

In [ ]:
#step 2 of pcy algo .. eleminating products below threshold value ... in this case it is 375
shortlisted = []
for i in range(len(column_names)):
  if dataset1[column_names[i]].sum()>=375:
    shortlisted.append(column_names[i])
shortlisted

In [ ]:
#preparing for step 3 by making pairs of selected items
pairs = []
j = -1
for i in range(len(column_names)):
  j += 1
  for k in range(i,len(column_names)):
    current_pair = []
    if column_names[i] !=column_names[k]:
      current_pair = [column_names[i] ,column_names[k]]
      pairs.append(current_pair)
pairs

In [ ]:
# step 3 counting frequency of each pair
repeatition = []
for i in range(len(pairs)):
  count = 0
  for j in range(len(dataset1)):
    if dataset1[pairs[i][0]][j] == 1 and dataset1[pairs[i][1]][j] == 1:
      count += 1
  repeatition.append(count)

In [ ]:
for i in range(len(pairs)):
	print(pairs[i],repeatition[i])
len(pairs)

In [ ]:
#step 4 setting threshold of 30 for each itemset
threshold = 30
frequent_items = []
for i in range(len(pairs)):
  if repeatition[i]>=30:
    frequent_items.append(pairs[i])
frequent_items
len(frequent_items)

In [ ]:
#step 5 assigning  buckets to itemsets using hash function (x*y)%10
buckets = [[],[],[],[],[],[],[],[],[],[]]
for i in range(len(frequent_items)):
  x = column_names.index(frequent_items[i][0])+1
  y = column_names.index(frequent_items[i][1])+1
  hash_val  = (x*y) % 10
  buckets[hash_val].append(frequent_items[i])
  print(hash_val)
buckets
# printing one of the bucket
buckets[0]

In [ ]:
# give input and this returns frequent itemsets
item = input()
for i in range(len(frequent_items)):
  if frequent_items[i][0] == item:
    print(frequent_items[i][1])
  if frequent_items[i][1] == item:
    print(frequent_items[i][0])

In [ ]:
# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')

In [ ]:
text = ' '
for i in range(len(count_data)):
  for j in range(count_data[i]):
    text = text + ' ' + column_names[i]
print(text)

In [ ]:
from wordcloud import WordCloud

plt.rcParams['figure.figsize'] = (15, 10)
# Create and generate a word cloud image:
wordcloud = WordCloud(collocations=False, background_color = 'white', width = 1200,  height = 1200, max_words = 119).generate(text)
# Display the generated image:
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.title('Most Popular Items',fontsize = 20)
plt.show()

In [ ]:
corpus = []
for i in range(len(count_data)):
  for j in range(count_data[i]):
    corpus.append(column_names[i])
df = pd.DataFrame({'corpus': corpus})

In [ ]:
plt.rcParams['figure.figsize'] = (30, 7)
color = plt.cm.copper(np.linspace(0, 1, 119))
df['corpus'].value_counts().plot.bar(color = color)
plt.title('frequency of most popular items', fontsize = 30)
plt.xticks(rotation = 90 )
plt.grid()
plt.show()

In [ ]:
function PCYAlgorithm(transactions, min_support, bucket_size):
    # Phase 1: Counting frequent pairs using a hash table
    pair_counts = {}  # Hash table to store pair counts
    bucket_table = [0] * bucket_size  # Buckets to store the pair hash values

    for transaction in transactions:
        items = get_items(transaction)
        for i in range(length(items)):
            for j in range(i+1, length(items)):
                item1 = items[i]
                item2 = items[j]
                pair = (item1, item2)

                # Calculate hash value for the pair
                hash_value = hash(pair) % bucket_size

                # Increment count in the bucket table
                bucket_table[hash_value] += 1

                # Increment count in the pair counts hash table
                pair_counts[pair] = pair_counts.get(pair, 0) + 1

    # Phase 2: Generating frequent itemsets using pair counts
    frequent_itemsets = []

    for pair, count in pair_counts.items():
        if count >= min_support:
            frequent_itemsets.append(pair)

    return frequent_itemsets